{% extends "base.html" %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
                <div class="input-group">
                    <input id="room-name-input" type="text" placeholder="Enter room name..." name="" class="form-control search">
                    
                    <div id= "room-name-submit" class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                    </div>
                    <script>
                        document.querySelector('#room-name-input').focus();
                        document.querySelector('#room-name-input').onkeyup = function(e) {
                            if (e.keyCode === 13) {  // enter, return
                                document.querySelector('#room-name-submit').click();
                            }
                        };

                        document.querySelector('#room-name-submit').onclick = function(e) {
                            var roomName = document.querySelector('#room-name-input').value;
                            window.location.pathname = '/chat/' + roomName + '/';
                        };
                    </script>
                </div>
            </div>
            <div class="card-body contacts_body">
                <ui id= 'rooms' class="contacts">
                {% for room in rooms %}
                    {% if room_name == room.name %}
                        <li class="active">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>{{room.name}}</span>
                                    <p>{{room.name}} is online</p>
                                </div>
                            </div>
                        </li>
                    {%else%}
                    <li>
                        <a style= 'text-decoration: none' href="{%url 'chat:room' room_name=room.name  %}">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>{{room.name}}</span>
                                <p>{{room.name}} is online</p>
                            </div>
                        </div>
                        </a>
                    </li>
                    {% endif %}

                {% endfor %}
                
                </ui>
            </div>
            {% block chat %}
            
            {% endblock chat %}
{% endblock body %}